<style>
h5 span{
	color: #f7403b;
  font-weight: bold;
  font-family: "poppins";
  font-size: 2em;
  
}
h2 span{
	color: rgb(226, 19, 19);
  font-weight: bold;
  font-family: "poppins";
  font-size: 2em;
  
}
 /* .card-title-about{
  color: white;
  background:wheat;
  width:20em;
  position: relative;
  right: 30em;
} */

  
  /* .card {
      width: 20rem;
      height:18rem;
      position:absolute;
      top:30rem;
      left: 0rem;
    } */

    
	/* move the circle to  right to left */
	/* .col-div-3{
		width: 35em;
		float: right;
    position: relative;
    top: 1em;
    right:6rem ;
	}   */

/* #col-div-3{
		width: 53em;
		float: left;
    position:absolute;
    right: 30em;
	}   */


	/* move the circle to top and down */
	/* .col-div-4{
		width: 30%;
		float: left; 
	} */
	.content-box{
		padding: 20px;
	}

	.circle-wrap {
	margin: 50px auto;
	width: 250px;
	height: 250px;
	background: whitesmoke;
  border: 1px solid black;

  border-radius: 100%;
	}
  #circle-wrap {
	margin: 50px auto;
	width: 250px;
	height: 250px;
	background: #d8076f;
	border-radius: 100%;
  border: 2px solid white;

}
#circle-wrap2 {
	margin: 50px auto;
	width: 250px;
	height: 250px;
	background: yellow;
	border-radius: 100%;
  border: 2px solid white;
}




</style>



  
  
</section>

     <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
        	 <%= image_tag("/assets/e.jpg", :class=>"d-block w-100")%> 
          <div class="carousel-caption d-none d-md-block">
                  <em> <h1>Track your work. Get results.</h1></em>

            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item">
        	 <%= image_tag("/assets/1.jpg", :class=>"d-block w-100")%> 
          <div class="carousel-caption d-none d-md-block">
                      <em> <h1>Create tasks and assign them to colleagues.</h1></em>

            <i>Some representative placeholder content for the second slide.</i>
          </div>
        </div>
        <div class="carousel-item" >
        <%= image_tag("/assets/e.jpg", :class=>"d-block w-100")%> 
          <div class="carousel-caption d-none d-md-block">
            <em> <h1>Get notified when work happends</h1></em>
            <b>Some representative placeholder content for the third slide.</b>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <section>
              <!--  End of carousel -->

                
<br>
      
   <section>
       <h2 style="color:rgb(236, 229, 236)" class="d-flex align-items-center justify-content-center"><span>O</span>ur Brand & Feedback</h2>
    <div class="row bg-info mb-3 border-white overflow-visible ">  
    <div id="circle-wrap">
        <div id="circle">
        <div id="mask full">
          <div id="fill"></div>
        </div>
        <div id="mask half">
          <div id="fill"></div>
        </div>
        </div>
        </div>
        
        <div class="circle-wrap">
            <div class="circle">
            <div class="mask full">
              <div class="fill"></div>
            </div>
            <div class="mask half">
              <div class="fill"></div>
            </div>
        </div>
        </div>

        <div id="circle-wrap2">
          <div id="circle">
          <div id="mask full">
            <div id="fill"></div>
          </div>
          <div id="mask half">
            <div id="fill"></div>
          </div>
      </div>
      </div>
      
      
      
    </div>

  </section>
  <br> 
<section>
  <h2 style="color:rgb(236, 229, 236)" class="d-flex align-items-center justify-content-center"><span>V</span>ission & Objective </h2>

    <div class="row d-flex align-items-center justify-content-center  gx-5 px-2 overflow-hidden" >
      <div class="col-sm-3  gx-5">
        <div class="card text-center text-dark bg-warning mb-3 border-white">
          <div class="card-body">
            <h5 class="card-title">Special title treatment1</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
            <a href="#" class="btn btn-outline-dark btn-sm">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card text-center text-white bg-success mb-3 border-white overflow-hidden">
          <div class="card-body">
            <h5 class="card-title">Special title treatment2</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <div class="card-footer overflow-hidden">
              <small class="text-muted ">Last updated 5 mins ago</small>
              <br>
            </div>
            <a href="#" class="btn btn-outline-primary btn-sm">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 hover">
        <div class="card text-center text-white bg-danger mb-3 border-white">
          <div class="card-body">
            <h5 class="card-title">Special title treatment3</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <div class="card-footer">
              <small class="text-muted">Last updated 8 mins ago</small>
              <br>
            </div>
            <a href="#" class="btn btn-outline-primary btn-sm">Read More</a>
            
          </div>
        </div>
      </div>
    </div>
    


    </section>
    <br>
<!-- <div>

  
  <div class="card text-center text-dark bg-info mb-3 border-white row-cols-md-1" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Special title treatment4</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>  <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>


<br>

    
      
      </div> -->




      
      <br>
      <section>

       
        <br>
        <div class="card bg-dark text-white">
          <%= image_tag("/assets/e.jpg", :class=>"card-img w-100")%> 
          <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">Last updated 3 mins ago</p>
          </div>
        </div>
      </section>

      <br>
      <div>
        <div class="card text-center">
          <!-- <div class="card-header">
            Featured
          </div> -->
          <div class="card-body">
            <%= render(Primer::OcticonComponent.new(:"shield-check")) %>
            <h5 class="card-title-about"><span>A</span>BOUT US</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Aliquid odit quaerat omnis sequi beatae nesciunt cupiditate reiciendis doloremque, quasi inventore, esse natus, ab deserunt vel quam minima labore nulla. 
               Non.
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore assumenda, iure tempora ad facere magnam dicta eius ab optio dolore tenetur facilis deleniti ex cupiditate quisquam hic, recusandae a porro!
            </p>
            <%= link_to 'Read More ', home_about_path, class:"btn btn-outline-primary" %>

          </div>
          <div class="card-footer text-muted bg-dark">
            Designed and built with all the love 
            <i class="fa fa-copyright " aria-hidden="true">© 2022 Taskme, Inc.
              Terms 
              Privacy
              Site Map
              What is Taskme?</i>
          </div>
        </div>
      </div>