
          <!DOCTYPE html>
          <html>
          <style>
              .card {

                  width: 60rem;
                  height:25rem;
                  position:relative;
                  top:100px;
                  right: 25rem; 
                  left: 25rem;
                  bottom: 100px;
              }
          </style>



<body class="bg-dark">
  
  <div class="card bg-secondary">
  
    <div class="d-flex align-items-center justify-content-center">
                  <div id="login">
              <h2> Login</h2>
              
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="container-sm">

            <div class="field form-group  ">
              <% f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>

            </div>
            <div class="field form-group">
              <% f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password", class:"form-control "%>
            </div>

          </div>
          <br>

            <% if devise_mapping.rememberable? %>
              <div class="">
              <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>
          <br>
            <div class="actions">
              <%= f.submit "Log in", class:"btn btn-primary " %>
            </div>
          <% end%>

          <br>
              <b>Don't have an account?<%= render "devise/shared/links" %></b>
      
          </body>
          </html>
