
          <!DOCTYPE html>
          <html>
          <style>
              .card {

                  width: 60rem;
                  height:25rem;
                  position:relative;
                  top:100px;
                  right: 25rem; 
                  left: 25rem;
                  bottom: 100px;
              }
 body {background:-webkit-linear-gradient(bottom, #0250c5, #d43f8d);
 }
          </style>



<body class="bg-dark">
  
  <div class="card bg-secondary">
  
    <div class="d-flex align-items-center justify-content-center">
                  <div id="login">
              <h2> Login</h2>
              
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="container-sm">

      
        
          <div class="col-auto">
            <label class="visually-hidden" for="autoSizingInputGroup"></label>
            <div class="input-group">
              <div class="input-group-text">
              <%= render(Primer::OcticonComponent.new(:"person", :height => 40) ) %>
              </div>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>

              <!-- <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Username"> -->
            </div>

            <div class="col-auto">
              <label class="visually-hidden" for="autoSizingInputGroup"></label>
              <div class="input-group">
                <div class="input-group-text">
                <%= render(Primer::OcticonComponent.new(:"person", :height => 40) ) %>
                </div>
              <%= f.password_field :password, autocomplete: "current-password", class:"form-control "%>
              </div
          </div>
          <br>
<!-- todo -->
            <% if devise_mapping.rememberable? %>
              <div class="">
              <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>
          <br>
            <div class="actions">
              <%= f.submit "Log in", class:"btn btn-primary " %>
            </div>
          <% end%>

          <br>
              <b>Don't have an account?<%= render "devise/shared/links" %></b>
      
          </body>
          </html>
