<%= form_with(model: friend_profile) do |form| %>
  <% if friend_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friend_profile.errors.count, "error") %> prohibited this friend_profile from being saved:</h2>

      <ul>
        <% friend_profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group col-md-8 mb-3 ">
    <% form.label :first_name %>
    <i class="bi bi-person"></i>
    <%= form.text_field :first_name ,class:"form-control", placeholder:'First Name'%>

  </div>
  
  <div class="field form-group col-md-8 mb-3  ">
    <% form.label :last_name %>
    
    <%= form.text_field :last_name ,class:"form-control", placeholder:'Last Name'%>
  </div>

  <div class="field form-group col-md-8  mb-3 ">
    <% form.label :email %>

    <%= form.text_field :email ,class:"form-control" , placeholder:'name@example.com'%>
  </div>

  <div class="field form-group col-md-8 mb-3 ">
    <% form.label :contact %>
    <%= form.text_field :contact,class:"form-control", placeholder:'contact'  %>
  </div>

  <div class="field form-group col-md-6 mb-4 ">
    <%form.label :image %>
    <%= form.text_field :image, class:"form-control"  , placeholder:'image'%>
  </div>

  <div class="actions">
    <%= form.submit class:'btn btn-dark' %>
  </div>
<% end %>
